*{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#header-nav{
    background-color: grey;
    border-radius: 0;
    border: 0;
}

#logo{
    font-size:xx-large;
    color: black;
    text-decoration: none;
}
 a:hover, a:focus, a:link{
    text-decoration:none;
 }




#menu{
    margin-top: 2%;
    text-align: center;
    margin-bottom: 5%;
}

h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#box1, #box2, #lastbox, #logo{
    background-color: grey;
    
}

p{
    padding: 10px;
}

@media only screen and (min-width : 768px) {
    .navbar-collapse.collapse {
         display: none!important;
     }
 }