style.css
/*color pick up by: https://imagecolorpicker.com/es*/
/**********************COMMON STYLE**********************/
*{
    font-family: cursive, sans-serif;
    box-sizing: border-box;        
}
h1{
    text-align: center;
}
/**********************STYLING THE BOXES*****************/
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}
.box{
    
    width:25%;
    background-color: #999999;
    border: 5px solid;
    padding: 5px;
    margin: 4%;
    
      
}    
/*****************COMMON STYLE THE H3**********************/
h3{
    
    margin-top: -5px;
    margin-right: -10px;
    border: 5px solid;
    border-top: 0px;
    text-align: center;
    width: 150px;
    height: 40px;
    float: right;
    border-color: black;
    font-size: 25px;
    
    
}

/*************INDIVIDUAL STYLE EACH BOX********************/
#chicken{
     background-color: #d59898;    
}
#beef{
    background-color: #c14543;
    color: white;
    
}
#sushi {
    background-color:#e5d198;
}


/********************** TABLET ****************************/
 
@media (max-width: 991PX) and (min-width: 768px) {
    .box{
        flex: 40%;  
       }
    
  }
/********************** SMARTPHONE *************************/
  
@media (max-width: 767px) {
   .box{
    flex: 100%;
    margin: 20px;
   }
  }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
